//FORMULARIO EDICION DE PRESUPUESTOS

.formEdit{
    background-color: $colorBlanco;  
    width: 90%;   
    padding:5rem;
    box-shadow: 0.3em 0.3em 1em 0.5em rgba(0,0,0,0.3);  
   
    
    .presupuesto__modifica-heading{
       @include centra-items;
    }
    .presupuesto__modifica-form{
      
        width: 100%; 
        height: 90%;      
        
    .presupuesto__modifica-input>input{
            border-radius: 5px;
            text-align: right;
            padding: 0.5rem;
        }
    .presupuesto__modifica-input{
           display: flex;
           justify-content:space-around;
           align-items: center;
            div{
                width: 100%;
                display:flex;
                flex-direction: column;
                margin: 1rem;
                label{
                    color:$color4;
                    font-family: $fuente2;
                }
                input{
                    padding: 0.5rem;
                    font-family: $fuente1;
                    font-size: $s-size;
                }
            }
            #id{
                width: 25%;
            }
            
            
        }
    .condiciones{
        font-style: italic;
    }
    }

   
}