 //FORMULARIO PÁGINA LOGIN 
  
  .admin__login-form{
    @include centra-items;
    line-height: 3rem;
    display:flex;
    flex-direction: column;   
    width:30rem;   
    margin: 2rem 0;

    .form-input{
        display: flex;
        flex-direction: column;
        align-items: flex-start;       
        font-size: $s-size;
        padding: 1rem;
        .label-login{
            color:$color4;
        }
        .input-login{
            width: 100%;
            padding: 1rem;            
            border-radius: 1rem ;
            border:$color2 1px solid;          
            color:$color2;
        }
    }
    .form-boton{
        display: flex;
        justify-content: center;

    }    
   
  }  
