//MENSAJES DE ERRORES O DE INFORMACIÓN

#errores, #mensaje{
    width: 100%;   
    background-color: $colorBlanco;
    color:$color2;
    text-align: center;
    font-size: $m-size;
    font-style: italic;
    padding: 1.5rem;
   
}