.admin__login{
    max-width: 100%;
    width: 100%;
    height: 55rem; 
 
 .admin__nav-heading{
    padding-top: 7rem;
 }
 
  .admin__remember{
    @include centra-items;
    font-size: $s-size;
    &-psw{
      text-decoration: none;
      color: $color4;
      
    }
  }
}