//colores
   
$color1: #FFDE51;
$color2: #323535;
$color3:#C9CAC1;
$color4:#2D86C0;
$color5:#F1F1EA;
$colorBlanco: #FFFFFF;
$colorNegro:#000000;

//fotos banner
$banner1Foto:url(../img/banner1.jpg);
$banner2Foto:url(../img/CONTADOR.jpg);
$banner3Foto:url(../img/SERVICIOS.jpg);
$banner4Foto:url(../img/background-iniciaSesion.jpg);
$banner5Foto:url(../img/fondo-tecnologia-onda-fractal-abstracto-azul.jpg);
$banner6Foto:url(../img/IMG_20220714_110257.jpg);
$banner7Foto:url(../img/fondo-tecnologia-onda-fractal-abstracto-azul.jpg);


//gradientes

$gradienteNegro:  rgba(0, 0, 0, 0.321);
$gradienteNegro1:  rgba(0, 0, 0, 0.767);


