@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Poppins:wght@700&display=swap');

//font-family
$fuente1:'Comfortaa', cursive;
$fuente2: 'Poppins', sans-serif;

//font-size
$xs-size:1.2rem;
$s-size:1.8rem;
$m-size:2.5rem;
$l-size:3.5rem;
$xl-size:4rem;

