.articulo{

  padding: 2rem;
  height: 60rem;
     &__img{
      
        .img-first{
            position: relative;
            top: 2rem;
            left: 4rem;
            width: 50%;
        }
         .img-second{
            position: relative;
            top: -25rem ;
            left: 20rem;
            width: 50%;
         }
        
    }
    &__texto{
      
       line-height: 3rem;
        font-size: $s-size;
        text-align: justify;
        .heading{
            padding: 2rem;
            span{
                color:$color4;
            }
        
        }
        .descripcion{
            margin:2rem 0;
        }
        
    }
}

.articulo--reverse{ 
   padding: 2rem;
   height: 60rem;
    &__img{
        order:1;       
        
        .img-first{
            position: relative;
            top: 2rem;
            left: 10rem;
            width: 50%;
        }
         .img-second{
            position: relative;
            top: -12rem ;
            left: 25rem;
            width: 50%;
         }
        
    }
    &__texto{
       
        line-height: 3rem;
         font-size: $s-size;
         text-align: justify;
         .heading{
             padding: 2rem;
             span{
                 color:$color4;
             }
         
         }
         .descripcion{
             margin:2rem 0;
         }
         
     }
}