//ARTICULO SERVICIOS

.feature{  
  padding: 2rem;

     figure{
       @include centra-items;
       width: 100%; 
       display: flex;
       justify-content: center;        
    }
    &__img{
          
        height: 40rem;      
        width: 45rem;
       
    }
    &__text{
      
       line-height: 3rem;
        font-size: $s-size;
        text-align: justify;

        &-heading{
            padding: 1rem;
            line-height: 4rem;
            text-align: center;
            span{
                color:$color4;
            }
        
        }
        &-desc{
            margin:2rem 0;
        }
      @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
       }  
    }
}

.feature--reverse{ 
   
    figure{
        order:1;       
      @include mobile{
        order:0;
      }
         
     }
}