//ICONOS FIJOS WHATSAPP Y TÉLEFONO

.fixed-icons {
    position: fixed;
    width: 98%;
    max-width: 98%;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  
  
      a {
        margin: 0 1rem;    
        font-size: 6rem;

        .fa-whatsapp{
            color:green;
            
        }
     }


}