.userContent{  
    margin-top: 5rem ;
    max-width: 100%;    
    font-size: $xs-size;
    padding: 2rem;
    .buscadorListados{
        margin-top: 1rem;
        div{
            display: flex;
            flex-direction: column;
        }
        
       
    }
    .tablaListados{
        margin-top: 2rem;
    }
    .boton-alta{
    padding: 1rem;
      background-color:$color2;
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      text-decoration: none; /* Quitar subrayado en enlace */
    }

}